#redPreviewButton {
    background-color: darkred;
    color: white;
}

#bluePreviewButton {
    background-color: darkblue;
    color: white;
}

#whitePreviewButton {
    background-color: white;
    color: black;
}

#greenPreviewButton {
    background-color: darkgreen;
    color: white;
}

#orangePreviewButton {
    background-color: darkorange;
    color: white;
}

#blackPreviewButton {
    background-color: black;
    color: white;
}