@font-face {
    font-family: 'Barlow';
    src: url('../data/fonts/BarlowCondensed-Regular.ttf');
    font-family: 'Oswald-SemiBold';
    src: url('../data/fonts/Oswald-SemiBold.ttf');
    font-family: 'Oswald-Regular';
    src: url('../data/fonts/Oswald-Regular.ttf');
    font-family: 'Pricedown';
    src: url('../data/fonts/pricedown-bl.ttf');
}

#bodyDiv {
    background-color: transparent;
}

#directionArea {
    position: fixed;
    /*
    bottom: 20px;
    left: 310px;
        */
    bottom: 4.2vh;
    right: 1vw;
    padding: 2px;
    margin: 2px;
}

#directionText {
    display: inline-block;
    color: #f7f7f7;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    font: inherit;
    font-family: pricedown;
    font-size: 30px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000, -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
}

#moneyArea {
    position: fixed;
    /*bottom: 116px;
    left: 310px;*/
    top: 5vh;
    right: 1vw;
    fill: #4c963f;
    color: #4c963f;
    padding: 2px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin: 2px;
    font-family: pricedown;
    font-size: 44px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

#timeArea {
    position: fixed;
    /*bottom: 116px;
    left: 310px;*/
    top: 9vh;
    right: 1vw;
    fill: #f7f7f7;
    color: #f7f7f7;
    padding: 2px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin: 2px;
    font-family: pricedown;
    font-size: 40px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

#clockIcon {
    width: 25px;
}

#armorArea {
    position: fixed;
    /*bottom: 52px;
    left: 310px;*/
    bottom: 17.2vh;
    right: 1vw;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

#armorBar {
    border: none;
    height: 15px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    padding: 2px;
}

    #armorBar::-webkit-progress-value {
        background: #3c59db;
    }

#armorIcon {
    width: 25px;
    fill: #3c59db;
}

.hideme {
    visibility: hidden;
    display: none;
}

#fuelArea {
    bottom: 10vh;
    right: 1vw;
    position: fixed;
    /*bottom: 116px;
    right: 20px;*/
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: yellow;
}

#fuelIcon {
    width: 25px;
    fill: orangered;
}

#fuelBar {
    border: none;
    height: 15px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    padding: 2px;
}

    #fuelBar::-webkit-progress-value {
        background: orangered;
    }

#speedo {
    position: fixed;
    /*bottom: 149px;
    right: 20px;*/
    bottom: 13.4vh;
    right: 1vw;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    font-family: pricedown;
    color: #ffae00;
    font-size: 25px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

#odo {
    position: fixed;
    /*bottom: 149px;
    right: 20px;*/
    bottom: 16.4vh;
    right: 1vw;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    font-family: pricedown;
    color: #ff4800;
    font-size: 25px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}